kallisto_Gag-EIF4E_custom_index.idx filter=lfs diff=lfs merge=lfs -text
hg19.mito.annot.cdna filter=lfs diff=lfs merge=lfs -text
hg19.mito.annot.cdna.Gag-EIF4E.custom filter=lfs diff=lfs merge=lfs -text
